.custom-appbar.MuiAppBar-root {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
  }

.custom-toolbar.MuiToolbar-root {
  background-color: var(--primary-color);
}

.custom-primary-menu.MuiMenuItem-root {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border-radius: 5mm;
}

.custom-primary-menu.MuiMenuItem-root:hover {
  background-color: var(--custom-blue);
  color: var(--primary-text-color);
  border: none;
}

.heading {
  color: #1159f5;
}

.slogan {
  color: #000000;
}