.custom-paper.MuiPaper-root {
    margin: 20px 0;
    padding: 10px;
    text-decoration: solid;
}

.custom-center.MuiTypography-root {
    display: flex;
    justify-content: center;
}

.custom-center.MuiBox-root {
    display: flex;
    justify-content: center;
}